In [1]:
import numpy as np
import pandas as pd

In [2]:
# Níveis de Índice
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
np.random.randn(6,2)

array([[-1.95126646,  0.12202731],
       [-0.67479731, -1.74107928],
       [-0.710918  ,  0.90688682],
       [-0.41291437,  0.91169709],
       [-0.63041841, -0.65502035],
       [ 2.02650308,  0.40051712]])

In [9]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index)

In [10]:
df

             0         1
G1 1 -0.748076 -0.188018
   2 -0.598574 -0.756429
   3  0.133643  0.648153
G2 1  0.462978  0.754296
   2  0.950771  1.138780
   3  0.109204  0.842610