In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(data=np.random.randn(5,4), index='A B C D E'.split(), columns='W X Y Z'.split())

In [3]:
df

          W         X         Y         Z
A -0.227574 -0.292955 -0.212430 -1.321934
B  0.661175 -0.160710  0.584412 -0.454923
C  0.675725 -0.343617  1.202236 -1.561383
D  0.359422 -1.397395  0.298066 -2.510590
E -1.665821  0.281901  0.125609  0.319868

In [4]:
bol = df > 0

In [5]:
#retorna um dataframe de mesmas dimensões Se o elemento (índiceXcoluna) atender à condição booleana, mostra o valor. Caso contrário, mostra NaN
df[bol]

          W         X         Y         Z
A       NaN       NaN       NaN       NaN
B  0.661175       NaN  0.584412       NaN
C  0.675725       NaN  1.202236       NaN
D  0.359422       NaN  0.298066       NaN
E       NaN  0.281901  0.125609  0.319868

In [6]:
#retorna uma série onde cada elemento é o resultado da condição > 0
df['W']>0

A    False
B     True
C     True
D     True
E    False
Name: W, dtype: bool

In [7]:
#retorna apenas os índices X colunas que atendem à condição > 0 na série W
df[df['W']>0]

          W         X         Y         Z
B  0.661175 -0.160710  0.584412 -0.454923
C  0.675725 -0.343617  1.202236 -1.561383
D  0.359422 -1.397395  0.298066 -2.510590

In [8]:
#retorna os valores da coluna Y onde os valores da coluna W são > 0
df[df['W']>0]['Y']

B    0.584412
C    1.202236
D    0.298066
Name: Y, dtype: float64

In [9]:
bol = df['W'] > 0
df2 = df[bol]
df2['Y']

B    0.584412
C    1.202236
D    0.298066
Name: Y, dtype: float64

In [11]:
#faz múltiplas comparações entre as séries
df[(df['W'] > 0) & (df['Y'] > 1)]

          W         X         Y         Z
C  0.675725 -0.343617  1.202236 -1.561383

In [12]:
df[(df['W'] > 0) | (df['Y'] > 1)]

          W         X         Y         Z
B  0.661175 -0.160710  0.584412 -0.454923
C  0.675725 -0.343617  1.202236 -1.561383
D  0.359422 -1.397395  0.298066 -2.510590

In [16]:
#recria um índice numérico. O índice indicado anteriormente é criado na coluna 'index'
df.reset_index(inplace=True)

In [17]:
df

  index         W         X         Y         Z
0     A -0.227574 -0.292955 -0.212430 -1.321934
1     B  0.661175 -0.160710  0.584412 -0.454923
2     C  0.675725 -0.343617  1.202236 -1.561383
3     D  0.359422 -1.397395  0.298066 -2.510590
4     E -1.665821  0.281901  0.125609  0.319868

In [18]:
df['index']

0    A
1    B
2    C
3    D
4    E
Name: index, dtype: object

In [19]:
col = 'RS RJ SP AM SC'.split()

In [20]:
col

['RS', 'RJ', 'SP', 'AM', 'SC']

In [21]:
df['Estado'] = col

In [22]:
df

  index         W         X         Y         Z Estado
0     A -0.227574 -0.292955 -0.212430 -1.321934     RS
1     B  0.661175 -0.160710  0.584412 -0.454923     RJ
2     C  0.675725 -0.343617  1.202236 -1.561383     SP
3     D  0.359422 -1.397395  0.298066 -2.510590     AM
4     E -1.665821  0.281901  0.125609  0.319868     SC

In [25]:
#define uma coluna como índice
df.set_index('Estado', inplace=True)

In [26]:
df

       index         W         X         Y         Z
Estado
RS         A -0.227574 -0.292955 -0.212430 -1.321934
RJ         B  0.661175 -0.160710  0.584412 -0.454923
SP         C  0.675725 -0.343617  1.202236 -1.561383
AM         D  0.359422 -1.397395  0.298066 -2.510590
SC         E -1.665821  0.281901  0.125609  0.319868